.toggler {
	position: relative;
	width: 28px;
	height: 40px;
  flex-shrink: 0;
	&::before, &::after, & span {
		position: absolute;
		left: 0px;
		content: "";
		width: 18px;
		height: 2px;
    background-color: #fff;
		transition: transform 0.5s, opacity 1s;
		overflow: visible;
    top: calc(50% - 7px);
	}
	&::after {
		top: calc(50% + 5px);
	}
	& span {
		top: calc(50% - 1px);
	}
	&.open {
		span {
			opacity: 0;
		}
		&::after {
			top: unset;
			bottom: 50%;
			transform: rotate(45deg) translateX(1px);
		}
		&::before {
			top: 50%;
			transform: rotate(-45deg) translateX(1px);
		}
	}
	
}
