.section_title {
  font-family: $font__manrope;
  font-size: 40px;
  font-weight: 600;
  line-height: 54px;
  color: $black;
  &.center {
    text-align: center;
  }
  & > span {
    font-family: $font__manrope;
  }
  @include lg {
    font-size: 35px;
    line-height: 47px;
  }
  @include md {
    font-size: 23px;
    line-height: 31px;
  }
  @include sm {
    font-size: 15px;
    line-height: 25px;
  }
}

.text-nowrap {
  white-space: nowrap;
}

.text-gradient {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient {
  background: $gradient;
}
